@model IEnumerable<Sondeo_web_7eam.Models.PRODUCTO>

@{
    ViewBag.Title = "Index";
}

@section estilos
{
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<h2>Productos en el ultimo sondeo</h2>

<p>
    @Html.ActionLink("Agregar nuevo al sondeo activo", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table" id="tableProductos">
    <thead>
        <tr>
            <th>
                <span>Producto</span>
            </th>
            <th>
                <span>Presentacion</span>
            </th>
            <th>
                <span>Tipo</span>
            </th>
            <th>
                <span>Precio</span>
            </th>
            <th>
                <span>Tipo de precio</span>
            </th>
            <th>
                <span>Categoria</span>
            </th>
            <th>
                <span>Marca</span>
            </th>
            <th>
                <span>Unidad de Medida</span>
            </th>
            <th>
                <span>Cantidad medida</span>
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTO1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRESENTACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIO_CONSULTA)
                </td>
                <td>
                    @if (item.ALPORMAYOR == true)
                    {
                        <span>Precio al por Mayor</span>

                    }
                    else
                    {
                        <span>Precio unitario</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.CATEGORIA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA.MARCA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MEDIDA.MEDIDA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CANTIDAD_MEDIDA)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_PRODUCTO }) |
                    @Html.ActionLink("Visualizar", "Details", new { id = item.ID_PRODUCTO }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_PRODUCTO })
                </td>
            </tr>
        }
    </tbody>
</table>

<a id="finalizar" class="btn btn-danger" href="../Productos/sinProductos">Finalizar Encuesta</a>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $("finalizar").submit(function (event))
        {
            event.preventDefault();

            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);
                LoadingOverlayHide("#tableProductos");
                if (response.ok) {
                    alert("Sondeo finalizadocorrectamente.");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
        }
    </script>
    
    <script>
        function sinProductos()
        {
            $.alert({
                title: 'Peligro',
                content: 'No se puede finalizar un sondeo vacio',
            });
        }
    </script>

   

    <script>
        $('#tableProductos').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    </script>
}