@model IEnumerable<Sondeo_web_7eam.Models.PRODUCTO>

@{
    ViewBag.Title = "Lista";
}

@section estilos
{
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<h2>Lista</h2>

<p>
</p>
<table class="table" id="tableLista">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTO1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRESENTACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRECIO_CONSULTA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALPORMAYOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CANTIDAD_MEDIDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA.CATEGORIA1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MARCA.MARCA1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MEDIDA.MEDIDA1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SONDEO.DESCRIPCION)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTO1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRESENTACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIO_CONSULTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ALPORMAYOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CANTIDAD_MEDIDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.CATEGORIA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MARCA.MARCA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MEDIDA.MEDIDA1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SONDEO.DESCRIPCION)
                </td>

            </tr>
        }
    </tbody>
</table>
<p><a href="../../" class="btn btn-primary btn-lg">Volver al inicio</a></p>

@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tableLista').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    </script>
}
