@model IEnumerable<Sondeo_web_7eam.Models.MEDIDA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UNIDAD_MEDIDA }) |
            @Html.ActionLink("Details", "Details", new { id=item.UNIDAD_MEDIDA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UNIDAD_MEDIDA })
        </td>
    </tr>
}

</table>
