@model Sondeo_web_7eam.Models.REPORTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>REPORTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REPORTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REPORTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SONDEO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SONDEO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.DOCUMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_REPORTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
