@model IEnumerable<Sondeo_web_7eam.Models.REPORTE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_REPORTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONDEO.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.DOCUMENTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_REPORTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONDEO.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.DOCUMENTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_REPORTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_REPORTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_REPORTE })
        </td>
    </tr>
}

</table>
