@model Sondeo_web_7eam.Models.LOCALIZACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LOCALIZACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOCALIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCALIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTOS.DEPARTAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIOS.MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIOS.MUNICIPIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LOCAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
