@model IEnumerable<Sondeo_web_7eam.Models.LOCALIZACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LOCALIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.DEPARTAMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUNICIPIOS.MUNICIPIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LOCALIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.DEPARTAMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUNICIPIOS.MUNICIPIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_LOCAL }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_LOCAL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_LOCAL })
        </td>
    </tr>
}

</table>
