@model IEnumerable<Sondeo_web_7eam.Models.SONDEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo Sondeo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FINALIZADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCALIZACION.LOCALIDAD)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FINALIZADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCALIZACION.LOCALIDAD)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_SONDEO }) |
                @Html.ActionLink("Productos", "../Productos/Lista", new { id = item.ID_SONDEO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_SONDEO })
            </td>
        </tr>
    }

</table>
