@model IEnumerable<Sondeo_web_7eam.Models.MARCA>

@{
    ViewBag.Title = "Marcas Registradas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <samp>ID Marca</samp>
        </th>
        <th>
            <samp>Nombre de Marca</samp>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_MARCA }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_MARCA }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_MARCA })
        </td>
    </tr>
}

</table>
